# For asset managers

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('./target_companies_switzerland.xlsx')

In [4]:
df.iloc[2:]

,List of portfolio managers and trustees licensed by FINMA and monitored by a supervisory organisation,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
2,Name,City,Portfolio Manager,Trustee,Supervisory organisation
3,"""Commercial"" Treuhand- und Verwaltungs AG",Zürich,X,NaN,FINcontrol Suisse AG
4,1.618 Capital AG,Zug,X,NaN,OSFIN Organisation de surveillance financière
5,1788 Capital S.A.,Genève,X,NaN,AOOS - Schweizerische Aktiengesellschaft für A...
6,1L Capital AG,Zürich,X,NaN,FINcontrol Suisse AG
...,...,...,...,...,...
1449,Zürcher Balmelli & Partners SA,Lugano,X,NaN,AOOS - Schweizerische Aktiengesellschaft für A...
1450,Zuri-Invest AG,Zürich,X,NaN,AOOS - Schweizerische Aktiengesellschaft für A...
1451,Zürisee Investment Partners AG,Zürich,X,NaN,AOOS - Schweizerische Aktiengesellschaft für A...
1452,NaN,NaN,NaN,NaN,NaN
1453,Total number of portfolio managers and trustee...,NaN,NaN,NaN,NaN

In [5]:
df_clean = df.iloc[2:]

df_clean.columns = df.iloc[2].values
df_clean = df_clean.iloc[1:]

df_clean.head()

,Name,City,Portfolio Manager,Trustee,Supervisory organisation
3,"""Commercial"" Treuhand- und Verwaltungs AG",Zürich,X,NaN,FINcontrol Suisse AG
4,1.618 Capital AG,Zug,X,NaN,OSFIN Organisation de surveillance financière
5,1788 Capital S.A.,Genève,X,NaN,AOOS - Schweizerische Aktiengesellschaft für A...
6,1L Capital AG,Zürich,X,NaN,FINcontrol Suisse AG
7,2C Advisors Sarl,Genève,X,NaN,SO-FIT Organisme de Surveillance pour Interméd...

In [6]:
df_clean.to_csv('./target_swiss_clean.csv')

In [7]:
df_clean[df_clean['City'] == 'Zürich']

,Name,City,Portfolio Manager,Trustee,Supervisory organisation
3,"""Commercial"" Treuhand- und Verwaltungs AG",Zürich,X,NaN,FINcontrol Suisse AG
6,1L Capital AG,Zürich,X,NaN,FINcontrol Suisse AG
8,2trade group ltd,Zürich,X,NaN,OSFIN Organisation de surveillance financière
12,47 Heritage AG,Zürich,X,NaN,AOOS - Schweizerische Aktiengesellschaft für A...
17,A.J.K. Wealth Management (Schweiz) AG,Zürich,X,NaN,FINcontrol Suisse AG
...,...,...,...,...,...
1442,Zacharias AG,Zürich,X,NaN,FINcontrol Suisse AG
1443,Zantke Asset Management Schweiz AG,Zürich,X,NaN,FINcontrol Suisse AG
1444,Zeltner & Co. GmbH,Zürich,X,NaN,AOOS - Schweizerische Aktiengesellschaft für A...
1450,Zuri-Invest AG,Zürich,X,NaN,AOOS - Schweizerische Aktiengesellschaft für A...
1451,Zürisee Investment Partners AG,Zürich,X,NaN,AOOS - Schweizerische Aktiengesellschaft für A...

In [8]:
df_clean[df_clean['City'] == 'Zug']

,Name,City,Portfolio Manager,Trustee,Supervisory organisation
4,1.618 Capital AG,Zug,X,NaN,OSFIN Organisation de surveillance financière
10,3Worlds AG,Zug,X,NaN,AOOS - Schweizerische Aktiengesellschaft für A...
13,4e Capital AG,Zug,X,NaN,AOOS - Schweizerische Aktiengesellschaft für A...
24,ABRIAS Investment Management AG,Zug,X,NaN,FINcontrol Suisse AG
25,Abts & De Maertelaere GmbH,Zug,X,NaN,FINcontrol Suisse AG
...,...,...,...,...,...
1342,TRIUS Partners AG,Zug,X,NaN,FINcontrol Suisse AG
1350,Tune Capital AG,Zug,X,NaN,OSFIN Organisation de surveillance financière
1351,Turcapital AG,Zug,X,NaN,OSFIN Organisation de surveillance financière
1389,VertexA AG,Zug,X,NaN,AOOS - Schweizerische Aktiengesellschaft für A...
1407,Walens AG,Zug,X,NaN,AOOS - Schweizerische Aktiengesellschaft für A...

In [9]:
df_clean[df_clean['City'] == 'Genève']

,Name,City,Portfolio Manager,Trustee,Supervisory organisation
5,1788 Capital S.A.,Genève,X,NaN,AOOS - Schweizerische Aktiengesellschaft für A...
7,2C Advisors Sarl,Genève,X,NaN,SO-FIT Organisme de Surveillance pour Interméd...
9,3T Family Office SA,Genève,X,NaN,SO-FIT Organisme de Surveillance pour Interméd...
16,A&T Alpha Credit SA,Genève,X,NaN,ORGANISME DE SURVEILLANCE DES INSTITUTS FINANC...
23,Abeloo SA,Genève,X,NaN,ORGANISME DE SURVEILLANCE DES INSTITUTS FINANC...
...,...,...,...,...,...
1429,Wibagest SA,Genève,X,NaN,AOOS - Schweizerische Aktiengesellschaft für A...
1433,WM Capital SA,Genève,X,NaN,OSFIN Organisation de surveillance financière
1434,WOODSTONE CAPITAL SA,Genève,X,NaN,SO-FIT Organisme de Surveillance pour Interméd...
1441,Z Impact Ventures SA,Genève,X,NaN,ORGANISME DE SURVEILLANCE DES INSTITUTS FINANC...
1446,Zeno SA,Genève,X,NaN,SO-FIT Organisme de Surveillance pour Interméd...

In [10]:
df_clean[df_clean['Name'] == 'Black Oak Family Office SA']

,Name,City,Portfolio Manager,Trustee,Supervisory organisation
239,Black Oak Family Office SA,Genève,X,NaN,AOOS - Schweizerische Aktiengesellschaft für A...

# For commodity trading firms

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('./data/public_eye_commodity_trading_firms.xlsx', sheet_name='Database')

In [4]:
df.head()

,Swiss commodity trading sector,"In orange, trading companies pursuing some extractive activities\n\nIn blue, pure commodity traders",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Name (Hyperlinked to website),Place,Capital (CHF),IDE,Website,Area of activities (Group level),NaN,NaN,NaN,Commodity family (Group level),NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Upstream (extractive),Trading,Midstream,Downstream,Energy,Metals and Minerals,Soft Commodities
2,Active Energy Trading (EMEA) Sàrl,Genève,20000,CHE-415.776.732,X,X,X,NaN,NaN,NaN,NaN,X
3,"Addax Petroleum Limited, Douglas, succursale d...",Chêne-Bougeries,USD 10 000,CHE-101.159.589,X,X,X,NaN,NaN,X,NaN,NaN
4,AMCI International GmbH,Zug,100000,CHE-101.957.504,X,X,X,NaN,NaN,NaN,X,NaN

In [5]:
df_test = df

df_test.columns = df_test.iloc[0].values

df_test.iloc[1:].head()

,Name (Hyperlinked to website),Place,Capital (CHF),IDE,Website,Area of activities (Group level),NaN,NaN,NaN,Commodity family (Group level),NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Upstream (extractive),Trading,Midstream,Downstream,Energy,Metals and Minerals,Soft Commodities
2,Active Energy Trading (EMEA) Sàrl,Genève,20000,CHE-415.776.732,X,X,X,NaN,NaN,NaN,NaN,X
3,"Addax Petroleum Limited, Douglas, succursale d...",Chêne-Bougeries,USD 10 000,CHE-101.159.589,X,X,X,NaN,NaN,X,NaN,NaN
4,AMCI International GmbH,Zug,100000,CHE-101.957.504,X,X,X,NaN,NaN,NaN,X,NaN
5,Areti International Group SA,Genève,100000,CHE-243.057.179,X,X,X,NaN,NaN,X,NaN,NaN

In [7]:
df_test['Name (Hyperlinked to website)'].iloc[2]

'Active Energy Trading (EMEA) Sàrl'